* {
    /*outline-color: black;
    outline-width: thin;
    outline-style: solid;*/
    padding: 1%;
}

body {
    background-color: lightcoral;
}

.no_marg {
    margin: 0;
}

.no_padd {
    padding: 0;
}
