/** {
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
}*/

#leftpadd {
    padding-left: 1%;
}

.big {
    font-size: 250%;
}

body {
    background-color: lightcoral;
}

.no_marg {
    margin: 0;
}

.padd {
    padding: 1%;
}

.no_padd {
    padding: 0;
}
