/** {
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
}*/

#leftpadd {
    padding-left: 1%;
}

body {
    background-color: orange;
}

#pict {
    width: 100%;
}

.pict_div {
    padding: 2%;
}

.no_padd {
    padding: 0;
}

.padd {
    padding: 1%;
}

#top_marg {
    margin-top: 1%;
}