* {
    /*outline-color: black;
    outline-width: thin;
    outline-style: solid;*/
}

#leftpadd {
    padding-left: 1%;
}

body {
    background-color: orange;
}

.pict {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    padding-bottom: 100%;
}

.pict_div {
    padding: 2%;
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
}

.no_padd {
    padding: 0;
}

.padd {
    padding: 1%;
}

#top_marg {
    margin-top: 1%;
}

td, th {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    text-align: left;
    padding: 8px;
}

/*Background Images*/
.item1 {background-image: url("images/mario_defect.jpg");}
.item2 {background-image: url("images/zelda_nes.jpg");}
.item3 {background-image: url("images/halo.jpg");}
.item4 {background-image: url("images/punch_out.jpg");}
.item5 {background-image: url("images/elder_scroll.jpg");}
.item6 {background-image: url("images/portal_gun.jpg");}
.item7 {background-image: url("images/kingdom_key.jpg");}
.item8 {background-image: url("images/jigglypuff.jpg");}