/** {
    outline-color: black;
    outline-width: thin;
    outline-style: solid;
}*/

body {
    background-color: orange;
}

#pict {
    width: 90%;
}

.pict_div {
    padding: 2%;
}

.no_padd {
    padding: 0;
}
